@charset "UTF-8";

/*subnav -------------------------- */


.subnav-li+.subnav-li {
    padding-top: .7rem;
    margin-top: .7rem;
    border-top: solid 1px #f2e4e2;
}

.subnav-cht {
    color: #cd8c96;
}

.subnav-en {
    color: #999;
    font-size: .9rem;
    text-transform: capitalize;
}

.subnav-link {
    text-decoration: none;
    padding: .7rem;
    display: block;
}

.subnav-link:hover {
    background-color: #cd8c96;
}

.subnav-link:hover .subnav-cht,
.subnav-link:hover .subnav-en {
    color: #fff;
}

/* Feature-------------------------------- */
.feature {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10%;
}

.feature-head {
    background-color: #fff;
    width: 50%;
    margin-bottom: -8%;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

}

.feature-body {
    width: 60%;
    margin-left: -5%;
}

.feature-img {
    max-width: 100%;
    height: auto;

}

.feature-title {
    font-size: 1.2rem;
}

.feature-desc {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.feature-link {
    display: inline-block;
    color: #cd8c96;
    font-size: .9rem;
    text-transform: capitalize;
}

.feature-link:hover {
    text-decoration: none;
}

.feature-reverse {
    flex-direction: row-reverse;
}

.feature-reverse .feature-head {
    margin-left: -5%;
}

.feature-reverse .feature-body {
    margin-left: 0;
}


/* Article----------------------- */

.article-title-lg,
.article-title-sm,
.article-quote{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.article-title-lg{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline wavy #CD8C96;

}

.article-title-sm{
    font-size: 1.1rem;
    list-style-type: square;
    display: list-item;
    margin-left: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}


.article-desc{
    margin-top: 1rem;
    margin-left: 1.2rem;
    line-height: 1.5;
}
.article-quote {
    font-size: 1.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.article .fa-quote-left,
.article .fa-quote-right{
    color: #bc938d80;
    font-size: 3rem;
}

.article .fa-quote-left{
    position: absolute;
    left: 8%;
    top: -1rem;
}
.article .fa-quote-right{
    position: absolute;
    right: 8%;
    top: -1rem;
}