@charset "UTF-8";


/* reset----------------------------------------------------------------------- */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eadcda;
}

/* 針對所有圖片 */
img{
    vertical-align: bottom;
}

/* layout------------------------------------------------------------------ */

.wrapper{
    max-width: 1200px;
    margin: 1rem auto;
    background-color: #fff;
    overflow: hidden;

}

.wrapper-item{
    margin: 2rem 3rem;
}

/* header---------------------------------------------------------------- */
.header{
    display: flex;
    align-items: flex-end;
}

.header-foot{
    display: none;
}

.header-head{
    width: 15%;
}

.header-img{
    max-width: 100%;
    height: auto;
}

/* nav------------------------------------------------------------ */

.nav-ul{
    display: flex;
    
}




.nav-link{
    text-decoration: none;
    display: block;
    padding:  .7rem 1rem;
}

.nav-link:hover{
    background-color: #cd8c96;
}

.nav-link:hover .nav-cht,
.nav-link:hover .nav-en{
    color: #FFF;
}

.nav-li{
    position: relative;
}
.nav-li + li{
    margin-left: 1rem;
}

.nav-li:hover .nav-child-ul{
    display: block;
}

.nav-cht,
.nav-en{
    display: block;
}

.nav-cht{
    color: #cd8c96;
}

.nav-en{
    margin-top: .3rem;
    text-transform: capitalize;
    color: #999;
    font-size: .9rem;
}

.nav-child-ul{
    display: none;
    border: solid 1px #bc9381;
    position: absolute;
    top: 100%;
    z-index: 10;
    background-color: #fff;
}

.nav-child-li .nav-cht,
.nav-child-li .nav-en{
    display: inline;
}

.nav-child-li .nav-link{
    white-space: nowrap;
}

.nav-li-active > .nav-link{
    background-color: #cd8c96;
}

.nav-li-active > .nav-link > .nav-cht,
.nav-li-active > .nav-link > .nav-en{
    color: #fff;
}



/* col多欄式萬用格線系統---------------------------------------------- */

.col{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;

}

.col-row{
    margin-left: -1rem;
    margin-right: -1rem;
}

.col-item{
    /* margin-left: 1rem;
    margin-right: 1rem; */
    /* background-color: pink; */
    padding-left: 1rem ;
    padding-right: 1rem;
    box-sizing: border-box;

}

.col-item-1{
    width: 8.3333333333333334%;
}

.col-item-2{
    width: 16.6666666666666666666668%;
}

.col-item-3{
    width: 25%;
}

.col-item-4{
    width: 33.3333333333333333333333333333336%;
}

.col-item-5{
    width: 41.666666666666666666666666666667%;
}
.col-item-6{
    width: 50%;
}
.col-item-7{
    width: 58.3333333333333336%;
}
.col-item-8{
    width: 66.666666666666666666666667%;
}
.col-item-9{
    width: 75%;
}

.col-item-10{
    width: 83.3333333333333333333334%;
}

.col-item-11{
    width: 91.66666666666666666666667%;
}

.col-item-12{
    width: 100%;
}


/* Menu---------------------------- */
.menu-body{
    margin-top: 1rem;
}

/* Group----------------------------- */

.group{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 1rem;
    border-bottom:solid 5px #f2e4e2 ;
}

.group-title{
    color: #bc938d;
    font-size: 1.125rem;
}

.group-small{
    margin-left: .5rem;
    color: #999;
    text-transform: capitalize;
    font-size:  .9rem;
}

.group-solid-sm{
    border-bottom:solid 1px #f2e4e2 ;
}

.group-link{
    text-decoration: none;
    color: #000;
    font-size: .9rem;
    text-transform: capitalize;
}

.group-link:hover{
    text-decoration: underline;
}

/* Card------------------------------ */

.card{
    display: flex;
}


.card-head{
    line-height: 1.5;
}

.card-body{
    order: -1;
}
.card-foot{}

.card-link{
    text-decoration: none;
    color: #FF8F00;
}

.card-link:hover{
    text-decoration: underline;
}

.card-desc{
    color: #999;
    text-transform: capitalize;
}

.card-img{
    max-width: 100%;
    height: auto;
}

.card-btn {
    display: inline-block;
    background-color: #FF8F00;
    color: #fff;
    text-decoration: none;
    padding: .5em;
    border-radius: 3px;
}

.card-btn:hover{
    opacity: .7;
}


/* Card垂直模組 */
.card-stack{
    flex-direction: column;
}

.card-stack .card-body{
    margin-bottom: 1rem;
}

.card-stack .card-foot{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Card水平模組 */

.card-matrix .card-head,
.card-matrix .card-body,
.card-matrix .card-foot{
    padding: 1rem;
}

/* .card-matrix .card-head{
    width: 30%;
} */

.card-matrix .card-head{
    width: 60%;
}

.card-matrix .card-body{
    width: 20%;
}

.card-matrix .card-foot{
    width: 20%;
}

.card-matrix .card-title{
    font-size: 1.4rem;
}

.card-matrix .card-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


/* Card邊框模組 */
.card-border{
    border: solid 1px #f2e4e2;
}

.card-border:hover{
    border-color: #ded1cf;
}



/*Contact---------------------------------  */

.contact-body{
    margin-top: 1rem;
}

.contact-social{
    text-align: center;
}

.contact-icon{
    text-decoration: none;
    font-size: 3rem;
    color: #eddedc;
}

.contact-icon:hover{
    opacity: .7;
}

.contact-li{
    display: flex;
}

.contact-li + .contact-li{
    margin-top: 1rem;
}

.contact-link{
    color: #bc938d;
}

.contact-link:hover{
    text-decoration: underline ;
}

.contact-link,
.contact-icon{
    text-decoration: none;
}

.contact-child-ul{
    border-left: solid 1px #CCC;
    padding-left: .5rem;
    margin-left: .5rem;
}

.contact-child-li{
    display: inline-block;
    margin-right: .5rem;
}

.contact-service{
    text-align: center;
}

.contact-tel{
    font-size: 2.5rem;
    color: #eddedc;
}


/* Footer--------------------- */
.footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #bc938d;
    text-align: center;
}


/* Breadcrumb-------------------------- */

.breadcrumb{
    margin-bottom: 1rem;
}

.breadcrumb-item{
    font-size: .9rem;
}

.breadcrumb-item + .breadcrumb-item::before{
    content: "/";
    margin-right: .4rem;
    color: #CCC;
    font-size: 1rem;
    vertical-align: middle;
}

.breadcrumb-link{
    text-decoration: none;
    color: #cd8c96;
}

.breadcrumb-link:hover{
    text-decoration: underline;
}


/* content----------------------------------- */

.content{
    margin-bottom: 2rem;
}


.content-head{
    margin-bottom: 2rem;
}
.headline{
    background-color: #bc938d;
    padding: .7rem 1rem;
}

.headline-cht{
    color: #fff;
    font-size: 1.5rem;
}

.headline-en{
    color: rgba(255, 255, 255, .5);
    text-transform: capitalize;
}

/*subnav -------------------------- */


.subnav-li + .subnav-li {
    padding-top: .7rem;
    margin-top: .7rem;
    border-top: solid 1px #f2e4e2;
}


.subnav-child-ul{
    margin-left: .8rem;
}

.subnav-cht {
    color: #cd8c96;
}

.subnav-en {
    color: #999;
    font-size: .9rem;
    text-transform: capitalize;
}

.subnav-link {
    text-decoration: none;
    padding: .7rem;
    display: block;
}

.subnav-link:hover {
    background-color: #cd8c96;
}

.subnav-link:hover .subnav-cht,
.subnav-link:hover .subnav-en {
    color: #fff;
}

.subnav-li-active > .subnav-link,
.subnav-child-li-active > .subnav-link{
    background-color: #cd8c96;
}

.subnav-li-active > .subnav-link > .subnav-cht,
.subnav-li-active > .subnav-link > .subnav-en,
.subnav-child-li-active > .subnav-link > .subnav-cht,
.subnav-child-li-active > .subnav-link > .subnav-en{
    color: #fff;
}
