@charset "UTF-8";

/* banner head----------------------------- */
.banner {
    position: relative;
}

.banner-ul {
    display: flex;
    width: 400%;
    position: relative;
    left: 0;
    transition-duration: .3s;
}

.banner-head {
    overflow: hidden;
}

.banner-img {
    max-width: 100%;
    height: auto;
}

/* banner-body------------------ */
.banner-body {
    position: absolute;
    left: 0;
    bottom: 1rem;
    /* background-color: aqua; */
    width: 100%;
    text-align: center;

}

.banner-btn {

    text-indent: -9999px;
    width: .7rem;
    height: .7rem;
    padding: 0;
    background-color: #fff;
    margin-left: .5rem;
    margin-right: .5rem;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.banner-btn:hover {
    background-color: orange;
}

.banner-btn-active {
    background-color: orange;
}

/* Category---------------------------------------- */

.category {
    background-image: linear-gradient(#fff, #d4b9b5);
    position: relative;
    border: solid 1px #f2e4e2;
}

.category-body {
    width: 100%;
    /* background-color: pink;
    text-align: right; */
}

.category-imgs {
    text-align: right;
}

.category-img {
    max-width: 100%;
    height: auto;
}

.category-head {
    position: absolute;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.category-cht {
    color: #bf7629;
    font-size: 1.5rem;
}

.category-en {
    margin-top: 5px;
    color: #bf938d;
    display: block;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.category-btn {
    display: inline-block;
    background-color: #FF8F00;
    color: #fff;
    text-decoration: none;
    padding: .5em;
    border-radius: 3px;
}

.category-btn:hover {
    opacity: .7;
}

/* News--------------------------------------------------------------- */

.news-ul {
    list-style-type: square;
    color: #ccc;
    padding-left: 1.1rem;
}

.news-li {
    line-height: 1.5;
}

.news-li + li{
    margin-top: 1rem;
}
.news-link{
    color: #cd8c96;
    text-decoration: none;
}

.news-link:hover{
    text-decoration: underline;
}

/* Hot!--------------------------- */

.hot-body{
    margin-top: 1rem;
}